{% extends "first_app/base.html" %}
{% load crispy_forms_tags %}
{% block body %}
    <style>
        .success{
            color: green;
        }
    </style>
    
    {% if messages %}
        {% for m in messages %}
            <small {% if m.tags %} class="{{m.tags}} {% endif %}">{{m}}</small>
        {% endfor %}
    {% endif %}
    
    <form method="post" style="width : 50%; margin: auto" novalidate>
        <h1>Singup page</h1>
        {% csrf_token %}

        {% comment %} {{form | crispy}} {% endcomment %}
        {% for fm in form %}
            <div class="mb-3">
                {{fm.label_tag}}
                {{fm}}
            </div>
            <div class="text-danger">{{fm.errors | striptags }}</div>
        
        {% endfor %}

        <button class="btn btn-primary" type="submit">Submit</button>
        <br>
        <small>Already have an account <a href="{% url 'login' %}">Login</a></small>
    </form>
{% endblock body %}